

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Logo and navigation
   ========================================================================== */
.navbar-header {
	height: 100px;
}
.navbar-brand {
	font-size: 34px;
	
}
.navbar-inverse .navbar-brand {
	color: #fff;
}

.navbar-nav {
	margin-top: 25px;
}
.navbar {
	border-radius: 0;
	margin-bottom: 0;
}
/* ==========================================================================
   Carousel
   ========================================================================== */
.carousel {
	height: 350px;
}
img.imgcenter{
	display: block;
    margin-left: auto;
    margin-right: auto
}
.slide1 {
	background: #ff8700;
}
.slide2 {
	background-color: #0169ae;
}
.slide3 {
	background-color: #c00;
}
/* ==========================================================================
   Content
   ========================================================================== */
article p, article li {
	font-size: 16px;
	line-height: 1.5em;
}
article p {
	text-indent: 35px;
}
.text-center .img-responsive {
		display: inline;
}
/* ==========================================================================
   Footer
   ========================================================================== */
footer {
	background-color:#222;
	height:70px;
	padding-top:20px;
}
footer address {
	text-align:center;
	color: #fff;
}
