/*
Travail pratique 1 : Un site web avec une grille fluide et adaptative
Author: Valeriu Tihai
Author URI: http://valeriu.tihai.md/
Version: 0.1

Professor : Jonathan Martel

Copyright and resources utilised:
	* 
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* --- --- [ HTML5 display-role reset for older browsers ] --- --- */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
/* --- --- [ General ] --- --- */
 html {
 	height: 100%;
 }
body {
	position: relative;
	height: 100%;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: #fff;
	text-align: center;
	text-shadow: 1px 1px 1px #000;
	/*http://css3generator.com/*/
    filter: dropshadow(color=#000000, offx=1, offy=1);
}
h1 {
	font-size: 400%;
	margin-top: 2%;
}
h2 {
	font-size: 350%;
}

p {
	font-family: 'Roboto', sans-serif;
	font-size: 155%;
	line-height: 170%;
	font-weight: 100;
	color: #fff;
}
.wrapper {
	height: 100% !important; /*pour IE*/
	height: 100%;
	margin: 0 auto; 
	overflow: hidden;
}
main {
	float: left;
	width: 50%;
	margin: 0 auto;

}
.clear {
	width: auto;
}
article {
	border:0px solid red; /*TODO: delete*/
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
}
.index {
	background-color: #3498db;
}
.index .caption {
	text-align: center;
}
.index .caption img {
	max-width: 100%;
	height: auto;
}
.feeatures {
	background-color: #2ecc71;
}
.testimonials {
	background-color: #95a5a6;
}
.social {
	background-color: #9b59b6;
}